:root {
  --main-color: #c441d8;
  --secondary-color: #ffffff;
}

body {
  background-color: #454345;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  color: var(--main-color);
}

header p {
  color: var(--secondary-color);
  display: inline-flex;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-wrap: wrap;
}

article {
  border: dashed var(--secondary-color) 1px;
  margin-top: 4%;
  width: 300px;
  display: flex;
  flex-direction: column;
}

h2 {
  position: relative;
  margin: -20px auto;
  border: solid var(--secondary-color) 1px;
  padding: 5px;
  width: 90%;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  color: var(--main-color);
  background-color: #454345;
}

article:hover,
article:hover h2 {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

article p {
  padding: 10px;
  color: var(--main-color);
}

pre {
  max-width: 90%;
  background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
  padding: 10px;
  border-radius: 8px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  overflow: auto;
  color: var(--secondary-color);
}

footer {
  text-align: center;
  margin: 2% auto 0 auto;
  max-width: 75%;
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}